[Unit]
Description=Solana Bootstrap Validator
After=network.target

[Service]
EnvironmentFile=/home/solanad/service-env.sh
Type=simple
Restart=always
RestartSec=1
User=solanad
LimitNOFILE=65536
StartLimitIntervalSec=0
LogRateLimitIntervalSec=0
ExecStart=/home/solanad/.local/share/solana/install/active_release/bin/solana-validator \
  --dynamic-port-range 8001-8010 \
  --entrypoint ${ENTRYPOINT}:8001 \
  --gossip-port 8001 \
  --identity-keypair /home/solanad/bootstrap-validator-identity.json \
  --ledger /home/solanad/ledger \
  --limit-ledger-size \
  --log - \
  --no-genesis-fetch \
  --rpc-port 8899 \
  --voting-keypair /home/solanad/bootstrap-validator-vote-account.json \
  --expected-genesis-hash ${EXPECTED_GENESIS_HASH} \
  --wait-for-supermajority \

[Install]
WantedBy=multi-user.target
