[Unit]
Description=Solana Bootstrap Validator
After=network.target

[Service]
WorkingDirectory=/home/solanad
Type=simple
Restart=always
RestartSec=1
User=solanad
LimitNOFILE=65536
StartLimitIntervalSec=0
LogRateLimitIntervalSec=0
ExecStart=/home/solanad/bootstrap-validator.sh

[Install]
WantedBy=multi-user.target
