[Unit]
Description=Solana Warehouse Node
After=network.target

[Service]
WorkingDirectory=/home/solanad
EnvironmentFile=/home/solanad/service-env.sh
Type=simple
Restart=always
RestartSec=1
User=solanad
LimitNOFILE=65536
LogRateLimitIntervalSec=0
StartLimitIntervalSec=0
ExecStart=/home/solanad/warehouse-node.sh

[Install]
WantedBy=multi-user.target
