[Unit]
Description=Solana Watchtower
After=network.target
StartLimitIntervalSec=0

[Service]
WorkingDirectory=/home/solanad
Type=simple
Restart=always
RestartSec=1
User=solanad
LogRateLimitIntervalSec=0
ExecStart=/home/solanad/watchtower.sh

[Install]
WantedBy=multi-user.target
