[Unit]
Description=Solana Validator
After=network.target
Wants=solana-sys-tuner

[Service]
Type=simple
Restart=always
RestartSec=1
User=sol
LimitNOFILE={{ solana_limit_nofile|default(2000000) }}
LimitNPROC={{ solana_limit_nproc|default(2000000) }}
StartLimitIntervalSec=0
LogRateLimitIntervalSec=0
ExecStart=/home/sol/bin/{{solana_node_type }}.sh

[Install]
WantedBy=multi-user.target
